@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  background-image: radial-gradient(#021027, #000000);
}

input[type='range'][orient='vertical'] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
}

@font-face {
  font-family: 'Fondamento';
  src: url('src/fonts/Fondamento-Regular.ttf');
}
